body {
    background-color: #0F5132;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.christmas-box {
    width: 500px;
    height: 500px;
    border: 5px solid #DC143C;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.santa {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.mrs-claus {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.tree {
    font-size: 60px;
    position: absolute;
}

.tree1 {
    top: 20px;
    left: 30px;
}

.tree2 {
    top: 50px;
    right: 40px;
}

.tree3 {
    bottom: 80px;
    left: 20px;
}

.tree4 {
    bottom: 30px;
    right: 60px;
}

.tree5 {
    top: 150px;
    left: 10px;
}

.tree6 {
    top: 120px;
    right: 10px;
}

.tree7 {
    bottom: 81px;
    left: 150px;
}

.tree8 {
    bottom: 140px;
    right: 150px;
}

.tree9 {
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 75px;
}

.reindeer {
    font-size: 45px;
    position: absolute;
}

.snowman {
    font-size: 50px;
    position: absolute;
}

.elf {
    font-size: 25px;
    position: absolute;
}

.elf1 {
    top: 123px;
    left: 80px;
}

.elf2 {
    bottom: 40px;
  right: 186px;
}

.elf3 {
    top: 180px;
    left: 200px;
}

.elf4 {
    bottom: 120px;
    left: 80px;
}

.elf5 {
    top: 140px;
  right: 77px;
}

.elf6 {
    bottom: 40px;
    left: 250px;
}

.snowman1 {
    top: 70px;
    left: 350px;
}

.snowman2 {
    bottom: 100px;
    right: 200px;
}

.reindeer1 {
    top: 460px;
    left: 154px;
}

.reindeer2 {
    top: 450px;
  left: 100px;
}

.present {
    position: absolute;
}

.present1 {
    top: 160px;
  left: 250px;
}

.present2 {
    top: 164px;
  left: 230px;
}

.present3 {
    top: 160px;
  left: 260px;
}

.bobbing {
    animation: bob 2s ease-in-out infinite;
}

@keyframes bob {
    0%, 100% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -60%);
    }
}

.fastbobbing {
    animation: bob 1s ease-in-out infinite;
}

.tilting {
    animation: tilt 4s ease-in-out infinite;
}

@keyframes tilt {
     0% {
        transform: rotate(-8deg);
    }
    50% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(-8deg);
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
}

.click-prompt {
    font-size: 32px;
    color: #DC143C;
    font-weight: bold;
    text-align: center;
    font-family: Arial, sans-serif;
}

.snowflake {
    font-size: 10px;
    position: absolute;
    color: #87CEEB;
    pointer-events: none;
    animation: fall linear;
}

@keyframes fall {
    from {
        top: -30px;
    }
    to {
        top: var(--fall-end);
    }
}